.shopcategory-indexSort{
    display: flex;
    margin: 0px 160px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort p span{
    font-weight: 500;
    
}

.shopcategory-products{
    margin: 15 px 160px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 90px;
}