.payment-page {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.payment-header {
    text-align: center;
    margin-bottom: 20px;
}

.payment-header h1 {
    font-size: 24px;
    color: #333;
}

.payment-form {
    display: flex;
    flex-direction: column;
}

.payment-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.payment-form input,
.payment-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}

.payment-total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
}

.submit-button {
    padding: 10px 20px;
    background-color: rgb(117, 7, 7);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: rgb(117, 7, 7);
}
